<div class="container">
    <div class="row">
        <div class="col-sm-7 sest">
            <div class="row">
                <div class="col-md-12">
                    <p>{{product.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{product.price_formatted}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="font-weight-normal" [innerHtml]=product.description></small>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <img src="{{product.picture.url}}" width="200" height="200">
        </div>
    </div>
</div>